{% extends 'base.html.twig' %}

{% block title %}Ressources{% endblock %}

{% block main %}

    {# RESSOURCES #}

    <section id="ressources">
        <div id="titre">
            <h2>Nos Cours</h2>
            <p>Apprenez à votre rythme avec nos cours en ligne</p>
        </div>

        <div id="grid_res">
            <div></div>
        </div>
    </section>



{% endblock %}
