<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href={{asset('css/style.css')}}>
    </head>
    <body>

        {% block header %}

        {# NAVBAR #}

        <nav id="navbar">
            <div><a href=""><img src={{asset('images/Logo.png')}} alt="Logo.png"></a></div>
            <ul>
                <li><a href="">Accueil</a></li>
                <li><a href={{ path('app_cours')}}>Cours</a></li>
                <li><a href="">Ressources</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>

        {% endblock %}
        
        {% block main %}

        {% endblock %}

        {% block footer %}

        {# FOOTER #}

        <footer id="footer">
            <a href=""><img src={{asset('images/Logo.png')}} alt="Logo.png"></a>
            <p>Nous sommes ici pour répondre à vos questions et inquiétudes.</p>
            <p>info@kids-learning.fr</p>
            <p>01 23 45 67 89</p>
            <a>Formulaire de contact</a>
            <div></div>
            <p>© 2023 Kids Learning. Tous droits réservés.</p>
        </footer>
        {% endblock %}
    </body>
</html>
