@use "../abstract/mixins";
@use "../abstract/variable" as v;

// FOOTER

#footer {
    @include mixins.flex($direction: column);
    background-color: v.$primarycolor;
    padding-top: 3rem;

    a {
        img {
            width: 15rem;
            margin-bottom: 3rem;
        }
    }

    p {
        color:v.$secondarycolor;
        font-size: 17px;
        margin-bottom: 2rem;
        
    }

    a {
        color:v.$secondarycolor;
        font-size: 17px;        
    }

    div {
        background-color: #34495E;
        width: 100%;
        height: 1px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}