{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block main %}

    {# COURS #}

    <section id="cours">
        <div id="titre">
            <h2>Nos Cours</h2>
            <p>Apprenez à votre rythme avec nos cours en ligne</p>
        </div>

        <div id="cartes">
            <div>
                <img src="{{asset('../images/maths.jpeg')}}" alt="image de math">
                <h3>Mathématiques</h3>
                <p>Explorez les concepts fondamentaux et avancés des mathématiques et devenez un maître des nombres.</p>
                <a href="">Démarrer l'Apprentissage</a>
            </div>
            <div class="carte0">
                <img src="{{asset('../images/science.jpeg')}}" alt="image de math">
                <h3>Sciences</h3>
                <p>Découvrez les mystères de l'univers, de la biologie moléculaire à la physique quantique.</p>
                <a href="">Démarrer l'Apprentissage</a>
            </div>
            <div>
                <img src="{{asset('../images/literature.jpeg')}}" alt="image de math">
                <h3>Littérature</h3>
                <p>Parcourez les oeuvres des plus grands auteurs, poètes, et dramaturges de l'histoire.</p>
                <a href="">Démarrer l'Apprentissage</a>
            </div>
        </div>
    </section>
{% endblock %}
